.mat-dialog-container{
    min-height: 300px;
}
  .atRt{ 
    float:right;
  }
  .atLt{
    float:left;
  }

  .selected-file{
    vertical-align: bottom;
    color: #888;
    margin-right: 8px;
  }
  .file-name{
    font-size: .8rem;
    color: #333;
  }
  .chk-id-column{
    width: .6rem;
  }
