.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 15px;
  }
  
  .example-selected-value {
    margin: 25px 0;
  }

  .space20{
    margin-left: 40px;
  }
  .pd30{
    padding: 30px 0;
  }