
$color-grey: #999;
$color-light-grey: #ccc;
$half-root-font-size:0.5rem;
$small-root-font-size:0.4rem;
$border-default:1px solid #ccc;


body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-indigo {
    background-color:#aaa !important;
    color: #fff !important;
}
.session {
    position: relative;
    z-index: 4000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.session-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 1rem;
    text-align: center; 
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 100%;
}
.session-wrapper {
    flex: none;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.text-xs-center {
    text-align: center !important;
}
 
.pb-1 {
    padding-bottom: 1rem !important;
    text-align: left;
}
 
div {
    display: block;
}
a { 
    color: inherit;
    cursor: auto;
} 

 
button.loginbtn{
    width: 100%;
    /*background-color: $color-light-grey;*/
    
}
span.suffix{
    color:$color-grey;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
}

div.pt-1 a{
   font-size: $half-root-font-size; 
}
.version{
    font-size: $small-root-font-size;
}

.versionbox{
    display: flex;
    justify-content: flex-end;
}
.login-box{
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}
 